h1 {
    display: block;
    font-size: 5.65rem;
    margin-block-start:0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: Sacramento,cursive;
}
body {
    display: block;
    margin:0;
    text-align: center;
    font-family: 'Merriweather',serif;

}
.top-container{
    background-color:#E4F9F5;
    position:relative;
    padding-top: 250px;
    
}
.middle-container{
   
    background-color:#E4F9F5;
}
.bottom-container{
    background-color:#E4F9F5;
}
   
 .top-cloud{
    position: absolute;
   top:50px;
   right:500px;

}
.bottom-cloud{
    
position: absolute;
}
.About{
    font-family: 'Edu VIC WA NT Beginner', cursive;
    
}
